<%- include("./particals/header.ejs") %>
  <div class="login">
    <div class="login-box">
      <h2>Login</h2>
      <p class="subtitle">Login to access your account or sign up to join us!</p>
      <form action="http://localhost:5000/api/v1/auth/login" method="POST">
        <div class="input-login">
          <input type="email" id="email" name="email"  placeholder="Enter your email" required>
        </div>
        <div class="input-login">
          <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <button type="submit" class="login-btn">Login</button>
      </form>
      <button type="button" class="signup-btn login-btn"><a href="/registrationPage">Sign Up</a></button>
    </div>
  </div>
</body>
</html>
